<!doctype html>
<html>
<head>
<title>Sample Form</title>
</head>
<h1><body bgcolor='lightgreen' align=center font size=7>Sample Form</font></body></h2><br>
	
	<font size=4>
<!--<form action='#' method='Post'align=center><p>-->
	{%csrf_token%}
	{{tran_title}}
<!--	
	Phone No.<input type='number' number='first no.' size=100 maxlength=10 value='enter your no. here'><br>
	name     <input type='text' name='name' maxlength='40' value=''><br>
	graduate<input type='radio' name='grad' value='undergraduate' checked><br>
	password<input type='password' name='password' size=15><br>
	<select name='city' size=4 multiple>
		<option>mohali</option>
		<option>{{name1.nam}}</option>
		<option>bathinda</option>
		<option>barnala</option>
	</select><br>
	<input type='submit' value='Send'><br>
	<input type='reset' value='Reset'><br>
	Suggestions by <br><textarea rows=10 clos=200 name='suggestions'>
		you have any suggestions , please feel free to share
	</textarea>
	</p>
</form>-->
	</font>
	

	</body>

</html>